[2017-10-09 19:51] ultraMLGcode opened #2 "xddddddd"
xdddddd

[2017-10-09 19:51] ultraMLGcode opened #3 "xddddddd"
xdddddd

[2017-10-09 19:52] #3 closed

[2017-10-09 19:53] #2 closed

[2017-10-09 20:01] Incrested opened #4 "Entire Bot Doesn't Work"
The bot probably has a really obvious (and dumb) reason of not working at all. Heroku announces the error but can still log in, but then "cut and runs" right after.

[2017-10-09 22:44] Incrested opened #5 "Link Redirection"
Since Ultra is making a site, we should change the redirect_uri to go to the website.

That is, when it's complete.

[2017-10-09 23:27] d-nni3l opened #7 "Create a log system"
Create a logging system that uses a channel with **"miku-logs"** description or similar

[2017-10-09 23:29] Incrested opened #8 "Status of Helping"
The Status should be repaired.

[2017-10-09 23:30] d-nni3l commented on #4
omg nvm lol

[2017-10-09 23:30] Incrested opened #9 "Commands"
None of the commands work. Except '$fetchrole' that yells errors a good 4-5 times.

[2017-10-09 23:41] d-nni3l commented on #4
The issue is **partly** fixed.

Reference #9 for more info.

[2017-10-09 23:51] Incrested commented on #4
#8 has been partially repaired. #9 is on my to-do list.

[2017-10-10 00:55] Incrested opened #10 "Role Pusher"
Using $fetchrole, there should be custom made domain option for people to easily change. Maybe do something like:

$setrolefetcher -- Set the Role for $fetchrole
$resetrolefetcher -- Resets the $fetchrole and wipes the command memory
$fetchrole -- Fetches the Role assigned.

[2017-10-10 00:58] Incrested commented on #9
Commands Work. Just buggy now.

[2017-10-10 00:59] Incrested commented on #4
As of edit on #9, the bot commands work. Just need to fix the status.

[2017-10-10 01:15] Incrested commented on #7
In development.

[2017-10-10 01:28] Incrested commented on #4
As of https://github.com/Incrested/Miku-Chan/commit/c2d1fd3a3b44b12aea24e102e11c1424061a7951, Miku-Chan has been fixed.

[2017-10-10 01:28] #4 closed

[2017-10-11 00:33] Incrested commented on #8
Patched in https://github.com/Incrested/Miku-Chan/commit/080b0f46aa53ea8e85a92505b79f1a59f87cd732

[2017-10-11 00:33] #8 closed

[2017-10-11 00:34] Incrested commented on #10
Partially fixed in commit 0bd604d115216b86670757375464fbbf18c0d835

[2017-10-11 00:35] Incrested commented on #9
Fixed (except $fetchrole) in commit 2a31acc83b121aed4fd8d44ddfa4081f077a6a05

[2017-10-11 00:35] #9 closed

[2017-10-11 15:36] ultraMLGcode commented on #5
Also wanted to add that since we currently have a beta site, that should not be the `redirect_uri`. Once we purchase the official domain, that domain will be the new `redirect_uri`. Once we have more customization available for the bot (such as turning plugins on and off), then the plugin customization page should be the `redirect_uri`.

[2017-10-18 15:07] ultraMLGcode opened #11 "Heroku Outage (test)"
Heroku outage

[2017-10-18 15:07] #11 closed

[2017-10-20 03:44] Incrested opened #13 "Music Feature"
Although Music is in development, this issue should be made for ease.

[2017-10-20 03:45] Incrested opened #14 "Cases"
As a requirement from a recent hackathon, we should change the questions to cases for ease and easy adding.

[2017-10-20 03:48] Incrested opened #15 "YouTube Streaming"
Using the FFMPEG and the same method for the Radio system (to be commited[TM]), we should use the ytdl-core to allow users to listen to YT music and the radio station (again, to be commited[TM]).

[2017-10-20 15:44] Incrested opened #16 "The Daily Memer Integration"
Integrate @TheDailyMemer (via Twitter) into the bot when you name the description of a channel memes-miku

[2017-10-20 16:01] Incrested commented on #13
$radio is almost finished.

[2017-10-20 21:01] Incrested opened #17 "Shards"
We'll need sharding sooner than later.

[2017-10-20 22:25] Incrested commented on #14
Added in beb04a4a6c11cbcf3023fad4cd835898f5af9b09

[2017-10-20 22:25] #14 closed

[2017-10-20 22:27] Incrested commented on #17
Added in 70a29dc93d1501cb4e71875ed31e4c5f92637818

[2017-10-20 22:27] #17 closed

[2017-10-20 22:29] Incrested commented on #13
Radio System Added in 6f9eef20651fd5a4030c2ee33e10d951bfae9d95

[2017-10-21 03:00] Incrested opened #18 "Google Stuff"
Be able to Google stuff using the bot.

[2017-10-21 16:59] Incrested opened #19 "Use "config.json" for token and prefix""
Use "config.json" for token and prefix"

[2017-10-21 17:02] Incrested commented on #19
Added in 459a6a7

[2017-10-21 17:02] #19 closed

[2017-10-21 17:22] Incrested opened #20 "Prevent Bots from Using Miku-Chan"
If user is a bot, then prevent that bot from using Miku-Chan's commands.

[2017-10-22 19:08] Incrested opened #21 "Sharding"
Add Sharding ASAP

[2017-10-22 19:09] Incrested opened #22 "Customizable Plugins"
Be able to customize plugins via site

[2017-10-22 19:10] Incrested opened #23 "$setprefix reacts like $ping"
The setprefix command reacts like the ping command for some reason.

[2017-10-22 19:11] Incrested opened #24 "Fix Googling"
ERMAScript hates us and googles "${query}" even at the prompt of "pokemon"

[2017-10-22 19:12] Incrested commented on #18
Built in c451cdd0037161b24c79823ed8302f233b757214.
Broke in #24.

[2017-10-22 19:12] #18 closed

[2017-10-22 19:13] Incrested opened #25 "$docs Redirection"
Make the $docs command go to the wiki and not to Bit.ly's 404 site.

[2017-10-23 18:45] Incrested commented on #25
Fixed in 6d5e4d847a5916c91c544b4735228431f7f5f2f1

[2017-10-23 18:45] #25 closed

[2017-10-23 18:45] Incrested commented on #23
Fixed in 6d5e4d847a5916c91c544b4735228431f7f5f2f1

[2017-10-23 18:45] #23 closed

[2017-10-23 18:46] Incrested commented on #24
Repaired in 6d5e4d847a5916c91c544b4735228431f7f5f2f1

[2017-10-23 18:52] Incrested commented on #24
Fixed in 423f33c2ba9a90f8c87b999c3b19b9219d671cce

[2017-10-23 18:52] #24 closed

[2017-10-23 18:55] Incrested commented on #20
Fixed Botception in edf9e9fcec16f8e41f6e3a3ac4507cfb28863e10

[2017-10-23 18:55] #20 closed

[2017-10-23 18:57] Incrested opened #26 "Customizable Commands"
Set up Customizable Commands with $ccmd, then have the option to do simple, images, or using ERMAScript6 in your commands (ex. getting user ID, getting server ID, etc.)

[2017-10-23 18:57] Incrested opened #27 "New Logo"
A new, non-Google logo would be nice.

[2017-10-23 18:58] Incrested opened #28 "Join Announcments"
If a description of a text-channel is "joinlog-miku", then have Miku say when people join and leave the server.

[2017-10-23 18:59] Incrested opened #29 "Games?"
Gaming anyone? PvC and PvP tic-tac-toe would be neat. Maybe even hangman?

[2017-10-23 19:03] Incrested opened #30 "Time Machine"
Revert the Version of Miku on a server based on the commit on GitHub.

Command: $version
Usage: Reverts Miku's Version and Tells Version

Possible Args:
- "current" ~ Update to Latest
- "[commit SHA]" ~ Update to Commit Mentioned
- "v[version #]# ~ Update to Version Release
- "beta" ~ Move to Beta Tree of GitHub
- "stable" ~ Move to Stable Tree of GitHub

Examples:
$version current
$version edf9e9

[2017-10-23 21:26] Incrested commented on #21
Discontinued for Now

[2017-10-27 20:59] #21 closed

[2017-11-09 19:52] Incrested commented on #28
Added in e9d6c14099d227ead43540a5b6de909f9eb24572 with Leave/Join logging to channels with the topic of "joinlog-miku".

[2017-11-09 19:52] #28 closed

[2017-11-09 20:05] Incrested commented on #16
Added in 3d4243d8a1648ffb53ac74181ac7857c8289b653. Needs Icon Still (prompting for @ultraMLGcode)

[2017-11-09 20:05] #16 closed

[2017-11-10 02:54] Incrested commented on #30
Added in 67c3515. Could be bugged.

[2017-11-12 03:12] Incrested commented on #15
Added om eaa4072

[2017-11-12 03:12] #15 closed

[2017-11-12 03:23] Incrested commented on #30
Unfunctional.

[2017-11-14 16:04] Incrested commented on #13
DJ Miku released for temporary usage of Music. Bot will be merged in 2-3 days

[2017-11-20 05:48] Incrested commented on #13
Officially Added in c81be882dd8e057c78477b447419dca7e31a18d7

[2017-11-20 05:48] #13 closed

[2017-11-20 05:50] Incrested commented on #30
Semi-Impossible. Leaving "$version v1" to give access to hosting v1 personally.

[2017-11-20 05:50] #30 closed

[2017-12-01 17:28] Dang-Bang commented on #29
that would be litty

[2017-12-01 17:32] ultraMLGcode commented on #27
Dang-Band can make it.

[2017-12-01 18:21] Incrested commented on #27
Sorry, we've already got someone else who's going to do one up for us.

[2017-12-01 18:21] Incrested commented on #29
This is true. @ultraMLGcode, you up for grabs?

[2017-12-01 18:23] Incrested opened #31 "Favicon for the Website"
I can supply a new "favicon.ico", but the web dev. will need to implement it on the pages. I can see to it that a mobile-friendly icon is made too. (like the iOS "Add to Home Screen" applets)

[2017-12-01 18:24] Incrested opened #32 "The Daily Memer Integration"
Probably going to be an exclusive feature to those who manage Miku-Chan via the site, but we could add the Daily Memer integration and Infiniti integration just for people to both be safer and more amused

[2017-12-01 18:25] Incrested commented on #29
I'm slowly working on a PvC Hangman under the command "$hangman pvc".

[2017-12-01 22:59] Incrested commented on #29
Finished the Tic Tac Toe, changed the command to just "ttt", "ap", and "pl".
Commit (Signed) : 71987f0f66827dafc4512270306831c31417616c

[2017-12-02 04:08] Incrested opened #33 "New Web Design"
A new web design, but keeping it in the v1 branch and merge to release it.

I can probably do it up.

[2017-12-02 05:03] Incrested commented on #33
Added in eac2031

[2017-12-02 05:03] #33 closed

[2017-12-02 05:20] Incrested commented on #31
Added in e5d3e15

[2017-12-02 05:20] #31 closed

[2017-12-02 05:21] Incrested commented on #27
Prepared for the Release

[2017-12-02 05:21] #27 closed

[2017-12-02 05:21] Incrested commented on #26
Holding back from v1, might not have time to finish it

[2017-12-02 05:22] Incrested commented on #7
Holding back from v1, may be too much.

[2017-12-02 05:23] Incrested commented on #10
Going to be interchangeable via the web. Too much to run via the applet, too quota intensive.

[2017-12-02 20:52] Incrested opened #35 "Bot is Offline on Some Servers"
On some servers, the bot is live and working (for the most part). However, some other servers aren't getting Miku-Chan. @ultraMLGcode got a solution??

[2017-12-04 04:43] Incrested opened #36 "Commands Don't Work"
I'm trying on one of the dev. private servers and it seems the bot doesn't want to react to commands. Can you debug it @ultraMLGcode

[2017-12-04 04:46] Incrested opened #37 "Translations/Site Art"
Curious if anyone was open to making some site art (if we need any) and some translations for Miku-Chan. I'm thinking of setting up a connection to the DB for customs and making languages be a choice.

For instance,
[code]

We might use a switch in side a switch for it actually. We'll have to try it.

[2017-12-06 05:26] Incrested commented on #37
I have possible access to a translator for Japanese. Can't 100% guarantee it though.

[2017-12-14 18:32] Incrested opened #40 "Backup Plans with the Loss of Net Neutrality"
Net Neutrality just got removed. Does anyone have ideas for other places to host the bot? I've assumed places like AWS or Azure, but they might be a bit out of the budget.

To read more on net neutrality, The Verge wrote [this](https://www.theverge.com/2017/12/14/16776154/fcc-net-neutrality-vote-results-rules-repealed) to tell us about the vote around 20 minutes ago.

I also believe I can convince

[2017-12-18 05:31] ultraMLGcode commented on #40
They probably won’t block Heroku, but AWS is the best plan if we need to switch.

[2017-12-18 05:37] ultraMLGcode commented on #40
AWS EC2 is what we would use. It’s free for a year.

[2017-12-18 06:34] Incrested commented on #40
Alrighty. If Net Neutralities disappearence screws over Heroku, then I say we start up AWS. One year and then what price point, @ultraMLGcode ?

[2017-12-20 07:30] Incrested commented on #40
Backup plan is AWS EC2, only if Heroku is throttled by more than 5 megabytes per second. Start your ping testing, folks!

[2017-12-20 07:30] #40 closed

[2017-12-20 07:31] Incrested commented on #10
Pushed to version 2. Too much work with current version. To be re-embed to the next version.

[2017-12-20 07:37] Incrested commented on #29
Pushed Back more Games to Version 2; not enough time.

[2017-12-20 07:37] Incrested commented on #22
@ultraMLGcode
Status report on this?

[2017-12-31 05:25] Incrested opened #41 "Version 1 Not Finished"
Not to point fingers, but I already finished my load. @ultraMLGcode is basically the only one who needs to help finish up on the v1 branch. Then, we can get to work on v2, which will be due Jan. 1st, 2019. For issues, check [here](https://github.com/Incrested/Miku-Chan/milestone/2)

[2017-12-31 05:28] Incrested opened #42 "Status Page"
For Discord API and the Heroku Servers, we should have a status page indexed to "status.mikuchan.me" or "mikuchan.me/status". I've been looking at [CachetHQ/Cachet](https://github.com/CachetHQ/Cachet) and [Statuspage.io](https://statuspage.io). I'm going to find a nice looking one that still has security/functionality.

[2017-12-31 21:44] ultraMLGcode commented on #42
Statuspage.io is a good one, I believe it’s what Discord uses.

[2017-12-31 21:45] Incrested commented on #42
Yeah, I think Cachet or Staytus is better since their both OSS and free. Status page is 100$ p/ mo.

[2017-12-31 21:45] ultraMLGcode commented on #35
Some people have the old bot (different bot user). Easy fix by the user is to just go to https://mikuchan.me and re-add the bot to their server.

[2017-12-31 21:45] #35 closed

[2017-12-31 21:47] Incrested commented on #22
Pushed to V2 since it's too big of a feature to cram into a short time period

[2018-01-02 01:22] ultraMLGcode commented on #41
Version 1 has been finished! Sorry for the (extreme) delay.

[2018-01-02 01:22] #41 closed

[2018-01-02 01:23] #36 closed

[2018-01-02 01:30] ultraMLGcode commented on #30
Locked because we won't be adding this feature due to hosting costs.

[2018-01-02 13:54] #32 closed

[2018-01-02 13:54] doamatto opened #45 "Soundcloud Streaming"
Since we have YouTube streaming, maybe add SoundCloud?

[2018-01-02 14:39] Incrested opened #46 "Online Dashboard Script"
I was thinking we could do PHP or (perhaps) Node.js for the server. @ultraMLGcode what do you reckon it should be going for?

[2018-01-18 19:56] Incrested commented on #42
Done: http://status.mikuchan.me

[2018-01-18 19:56] #42 closed

[2018-01-21 22:39] Incrested commented on #10
Attempting new technique. Who knows if it'll work.

[2018-01-31 20:43] Incrested opened #47 "[Travis] Build Errror"
Found this error while re-building on Travis.

![screenshot 2018-01-31 at 12 42 41](https://user-images.githubusercontent.com/30969346/35646527-59bf50e0-0684-11e8-82e1-35f41111151b.png)

[2018-03-02 15:51] Ultra03 commented on #46
PHP should be what we're going for as it's the best form of communication between the website and a MySQL database.

[2018-03-02 22:56] Incrested opened #48 "Bot is Legit Dead"
Ok. The bot has been down for almost a month now. We need to fix this in the next week or two. No one likes a dead bot. We also need to move quicker if we're going to meet v1.1 or v2.0 deadlines.

[2018-03-03 04:01] Incrested commented on #48
Made Stable for Now. Check status here: http://status.mikuchan.me

[2018-03-03 04:01] #48 closed

[2018-03-03 17:17] Incrested commented on #47
Updated the "travis.yml." That should work, but only time will tell.

[2018-03-12 20:13] Incrested opened #49 "Bot Repeats Help Message"
I did `m!help` on a server and it repeated the help message twice. Maybe it's because we're running a function to open the help embed message?

[2018-03-12 20:15] doamatto opened #50 "Pocket Monster - No Response"
I did `m!pocketmonster pikachu` and no response. Should show a link to the wiki page for Pikachu or a pic of one. (I forgot what I coded it to show)

[2018-03-15 00:21] Incrested opened #51 "All Cryptos But GRLC are Broken"
Always respond with 'NaN' for value or 'undefined'. Possible a JSON error. You got this, @Ultra03 ?

[2018-03-15 16:44] Incrested commented on #47
Travis console is still sending out some errors. Here's another screenshot under b076402.
![screenshot 2018-03-15 at 09 44 40](https://user-images.githubusercontent.com/30969346/37477669-808811d0-2835-11e8-86a8-3a1890f31c53.png)

[2018-03-15 17:06] Incrested commented on #47
Took a template from someone else. Still causing errors: requires installed
![screenshot 2018-03-15 at 10 06 08](https://user-images.githubusercontent.com/30969346/37478875-8470f836-2838-11e8-98cf-eb1d44cb9c3a.png)
 dependencies. I'll add them later to the package.json. Here's what we need if you want to do it for me @Ultra03

[2018-03-15 17:08] Incrested opened #53 "JSON Format Error for Package"
It wasn't ready for the keywords. But, seriously, any ideas on a fix?
![screenshot 2018-03-15 at 10 07 57](https://user-images.githubusercontent.com/30969346/37479007-c870ef0a-2838-11e8-8d58-8d885353f4f8.png)

[2018-03-15 17:10] Incrested commented on #37
Translations have been held back for a long, **long** time. If you really want them, someone make a new issue and offer your talents of language skills. You can submit concept arts and stuff on the support Discord in an appropriate channel with an appropriate way of mentioning @Ultra03 or myself

[2018-03-15 17:10] #37 closed

[2018-03-15 17:11] Incrested commented on #45
I'm researching this topic: might add in V2 or a subversion. If not, it's coming in v3.

[2018-03-16 05:20] Incrested commented on #53
Fixed

[2018-03-16 05:20] #53 closed

[2018-03-16 05:20] Incrested commented on #47
Worked on adding in all discord.js dependencies. Here's the issue now: https://gyazo.com/a3cd960ebb44a7707710cb0337432bb6

[2018-07-09 03:23] Incrested opened #54 "Doing 'm!help' repeats itself twice."
Nothing more to say.

[2018-07-09 16:15] Incrested commented on #54
Closed because it's a duplicate of #49

[2018-07-09 16:15] #54 closed

[2018-07-10 16:40] Ultra03 commented on #49
Fixed in commit 037581e.

[2018-07-10 16:40] #49 closed

[2018-07-11 16:38] Ultra03 commented on #54
Locked because it's a duplicate.

[2018-09-24 17:10] Ultra03 commented on #46
Going back on what I said a while ago, we could actually use JS/jQuery and use AJAX calls to the server. May/may not be more difficult to achieve, I'm not sure atm.

[2018-09-24 17:14] Ultra03 commented on #51
Not sure what the problem is, I'll check it out. NaN means 'Not a Number' though, so could it be an issue with where we're getting the information from?

[2018-09-24 17:18] Ultra03 opened #56 "Prefix configuration"
I was thinking for v2 we should allow people to customize the prefix via a command. This could be done with [Enmap](https://www.npmjs.com/package/enmap), or with something else.

[2018-09-24 19:54] Incrested commented on #56
Yeah, I'm cool with this mate: Enmap should work fine; check if Heroku will be able to store a decent amount of guild-exclusive data on a free dyno and see, if we do have to upgrade, if we should start self-hosting

[2018-09-24 19:56] Incrested commented on #51
I'm not positive. The person who kindly provided the API key said that it might be exclusive to GRLC (since he made it). Maybe we 'ought to find another API to use? I'll look into it.

[2018-09-24 19:59] Incrested commented on #46
Yeah, I'm gonna start on new front-end after my workout today and then see about getting a decent front-end to work all this. Not sure on database though: Heroku + PHP + MySQL has had some bad mixings. Possibly a "database" using something ***super hard core*** like JSON or XML (I kid, obviously. Tho it is important to look into)

[2018-09-24 21:33] Incrested opened #57 "Bot Key To Be Replaced"
Trust me. I've got this.

[2018-09-25 00:30] Ultra03 commented on #46
Yeah; here’s a list of languages we could use for the backend (and backend/frontend communication):

- Node.js (obviously)
- PHP
- JS/jQuery with AJAX
- Python using [Flask](http://flask.pocoo.org)

Those are just off the top of my head. There’s definitely more. Post here if you have any suggestions.

[2018-09-25 00:31] Incrested commented on #46
Yeah, I think Node and jQuery + AJAX is our easiest solution while still being productive. I'll move the dashboard to a later date and start prepping a project board so all of this can finally be organized.

[2018-09-25 01:30] Incrested opened #58 "Status Page Built using Jekyll that Uses Auto-Update From 'master'"
So, this is the premise. We use [NarroApp/staticus](https://github.com/NarroApp/staticus) as a Jekyll-hosted page on gh-pages with it in a subdirectory of something like "../status/" When you push, we already go through Buddy.Works, Circle.CI, and AppVeyor. Using Buddy.Works, we can have it also update Jekyll. So, we could, on failure, have it report the issue to a Jekyll-based static page (like s

[2018-09-25 01:32] Incrested opened #59 "Build Scripts and Test Scripts for CIs"
AppVeyor, Buddy.Works, and TravisCI need some new build and test scripts so that they run properly.

[2018-09-25 01:48] Incrested commented on #59
Working on removing CircleCI and Replacing wth TravisCI

[2018-09-25 02:04] Incrested opened #60 "Update Dependencies"
Check David-DM for updates

[2018-09-25 03:41] Incrested commented on #7
To be honest, completely forgot we had this. Gonna up the anti and say that we *might* be fitting this in V2; possibly V3 or a patch

[2018-09-25 13:12] Incrested commented on #57
Basically fixed: updating all URLs in a bit

[2018-09-26 13:15] Incrested commented on #60
Done in 4e55b9b439b6e5f3b8b3c4753a9c7897c6ccdeb6

[2018-09-26 13:15] #60 closed

[2018-09-26 13:16] Incrested commented on #56
Also: we do have everything there. We just have to do a command to edit an exclusive to guild config file

[2018-09-28 15:57] Incrested commented on #47
Currently working on a new .travis.yml for the bot. Standby mates

[2018-09-29 05:45] Incrested commented on #51
Currently in progress of solving.

[2018-09-29 06:01] Incrested opened #62 "Bot Refuses to Boot"
[code]
Not really much to go off of in terms of the logs.

[2018-09-29 06:04] Incrested commented on #62
I've tried using `node bot.js`. It just flat crashes in terminal. Very odd in my book.

[2018-09-29 06:08] Incrested commented on #62
So, I fixed the problem of the cryptos. But messages don't send and insta-crash the bot. Looking into further and temporarily closing #51

[2018-09-29 06:09] Incrested commented on #51
Fixed with new webhook mentioned in #62

[2018-09-29 06:09] #51 closed

[2018-10-05 20:32] Ultra03 commented on #57
Gonna close this. Reopen if it's not fixed.

[2018-10-05 20:32] #57 closed

[2018-10-05 20:36] Ultra03 commented on #22
Closing as it's part of #46.

[2018-10-05 20:36] #22 closed

[2018-10-05 20:39] Ultra03 commented on #26
Could be added to the dashboard (#46) as well

[2018-10-05 20:39] Ultra03 commented on #62
Any updates on this?

[2018-10-05 23:20] Incrested commented on #62
Nothing as of this time: currently trying to find a GD for the logo so I can officially re-start the bot. But, internal test bot won't post properly

[2018-10-06 13:17] Incrested opened #63 "Combine all Crypto Commands into One File"
(This will make more sense when I'm done with a current commit)

We've got "crypto grlc.js", "crypto btc.js", "crypto eth.js", "crypto ltc.js", "crypto bch.js", and "crypto xrp.js" We should try and combine all of these just to make it a tad cleaner. How? I'm not exactly sure at this time.

[2018-10-06 13:40] Incrested commented on #63
Think I may have just done it: give me a bit and I'll push and test it

[2018-10-06 14:05] Incrested commented on #62
Here's the update you wanted @Ultra03. Mind you: the ping command quite literally killed the bot: https://youtu.be/acbbTUdAbms

[2018-10-11 23:20] Ultra03 commented on #62
The bot boots, so closing this issue. The ping command works, however running the play command with a link crashes the bot. Opening another issue.

[2018-10-11 23:20] #62 closed

[2018-10-11 23:23] Ultra03 opened #64 "Play command crashes the bot"
Running the play command crashes the bot. It gives no output besides "Got a song request!" in console, but it just exits.

[2018-10-12 03:34] Incrested commented on #64
Looking into right now. May have been resolved in a521bce1399893bcba77d4faf92bbfd0aa456a61

[2018-10-12 03:37] Incrested commented on #64
Not just with m!play; with all commands. Possibly an issue with the way commands are remote executed. Looking into matters as of this time.

[2018-10-12 20:19] Ultra03 commented on #64
@Incrested I'm gonna rework the way the command modules are called and handled.

[2018-10-14 03:14] Incrested commented on #63
@Ultra03 Since your env is stable: can you test?

[2018-10-17 14:26] doamatto opened #66 "Enmap-Based Guild Configuration"
This is required for the following issues: #56, #46, #10, #7, and #26. This will aid organization per each guild and allow guild-exclusive things such as logs in a certain channel and so on and so forth.

[2018-10-30 21:29] Incrested commented on #47
Probably misconfigured configs (travis and appveyor's yml files); if you can copy your env, since your's is working, it should work. We might need a "token" for it tho

[2018-10-30 21:29] Incrested commented on #47
Note: I'll send Travis and other CI privs to members soon

[2018-11-02 02:43] Ultra03 commented on #64
Seems to be solved after command rework (59088ad).

[2018-11-02 02:43] #64 closed

[2018-11-04 04:03] Incrested opened #67 ""Cannot find module './config.json'" when the File is There"
I'm trying to run the bot again: tried removing my local copy and re-pulling to start. Added the proper bot key, tried the test one. But, it always result in the same error of the config file (which is renamed from config.ex.json to config.json or just made into a new file) is missing. It's there though. Very odd.

[2018-11-04 18:58] Ultra03 commented on #67
Fixed in 12c86a3 - the error message pointed to `hug.js`. Remember to export name in the command fill as well.

[2018-11-04 18:58] #67 closed

[2018-11-04 19:56] Ultra03 commented on #59
Fixed!

[2018-11-04 19:56] #59 closed

[2018-11-04 21:47] Ultra03 commented on #47
Fixed! See #59 for more info.

[2018-11-04 21:47] #47 closed

[2018-11-04 23:09] Incrested commented on #45
Prepping it to be added. Might not get a SC API key for awhile: def going to be something to be added via the config file.

[2018-11-04 23:34] Incrested commented on #63
This is all done up. crypto.js does BTC, BCH, LTC, GRLC, ETC, and XRP!

[2018-11-04 23:34] #63 closed

[2018-11-04 23:35] Incrested opened #68 "Remove Code Redundancy"
Make each case just have variables and trigger an in-script function that does everything for them.

[2018-11-05 05:15] Incrested opened #69 "+crypto <null> needs to Exist"
We need to make it so that if you just do `+crypto` that it doesn't crash. It must respond with something such as `Woops! You need to tell me which cryptocurrency you want to check on. The following are avaliable-" and so on and so forth.

[2018-11-05 05:17] Incrested opened #70 "+kick Crashes Bot"
On line 6 of 'kick.js', the moderator role does not exist on the testing server. This needs to be customized within the web console and/or only allowed if the member has that permission: not that role. The bot crashes due to the following error:

[code]

[2018-11-05 05:19] Incrested opened #71 "+reload needs Restrictions"
This MUST be a bot developer-exclusive feature.

This command literally is made to crash the bot and then "re-ignite" it. Therefore, this can be abused by anyone: including server owners. It is only to be used mostly in the test environment, anyways.

Regardless, the +reload command must also be able to react to nothing with something that won't crash it by saying that "./undefined.js was not foun

[2018-11-05 05:42] Incrested opened #72 "Any Prefix Works: That's Not Cool Beans"
All prefixes work: `!`, `=`, `+` to name a few. This presents mashed commands and causing errors. We **need** to repair ASAP.

[2018-11-05 06:06] Incrested commented on #68
We can do one function for everything and then have something such as the crypto name or crypto abbreviation used to search a database to access the pricing. The current way has extra code of basically copy-and-paste and re-write.

[2018-11-05 14:38] Incrested commented on #71
I meant to mention: not close \*shrug\*

[2018-11-06 03:20] #72 closed

[2018-11-06 05:20] Incrested commented on #70
Fixed Permissions and Breaking in 8a189d3e1d662aa58845fb386fb1c8a28d9db7c7. Issue arised when an admin tried to kick a member: could just be test interface.

[2018-11-06 06:28] Incrested opened #73 "All commands double themselves"
Only happens on Heroku: the command doubles on single execution. Nothing in console to indicate an error. Screenshot of what happens in Discord: https://gyazo.com/dbd615194461b53579544eaea6acdb9a

[2018-11-12 14:10] Incrested commented on #73
Seems to have been fixed somehow. Good riddance and touch wood it doesn't return

[2018-11-12 14:10] #73 closed

[2018-11-12 14:13] Incrested commented on #7
It seems this hasn't been touched in ages. This'll need #66 for it to work: so until that gets added, don't expect this for a good while

[2018-11-12 14:13] Incrested commented on #66
Never have I ever touched Enmap. I'm gonna' try and do this myself anyways. Wish me luck! :P

[2018-11-14 00:07] #71 closed

[2018-11-15 00:05] Ultra03 commented on #68
Modules are better than one giant switch-case or something of the like.

[2018-11-15 00:07] Incrested commented on #68
Yeah, switch cases are my temp: I plan to make it so it does a webhook with coinmarketcap or smth and, if the abbreviation or full name exists, it relays the price, name, and abbreviation (probably some other stuff too) in a RichEmbed or embed message. Not only would it be nicer to digest but it would also remove our current crypto restriction. Gonna look into it rn

[2018-11-15 00:09] Incrested commented on #66
I think we ought to backlog this and, when we have the Mother Server, bring it back up and finish it off.

[2018-11-15 14:10] doamatto opened #77 "DBL, Discord Bots, Divine Discord Bot Integration"

[2018-11-15 15:18] Incrested commented on #77
We need `dblapi.js` as a dependency for Discord Bots and DBL just uses a webhook using `/api/bots/:bot_id/stats` with guild count being simply `guilds`.

APIs for both: https://discordbotlist.com/api-docs and https://discordbots.org/api/docs#jslib

[2018-11-15 15:19] Incrested commented on #77
I'll be working on this later on: should be done today at late or tomorrow near mid-day

[2018-11-15 15:21] Incrested commented on #29
I'll be adding Rock Paper Scissors soon enough. Maybe we should also re-add crosses and noughts and possibly something like fishing (which sparks the possible economy system?)

[2018-11-15 15:23] Incrested opened #78 "Add Economy System?"
Referenced in smth: too lazy to reference

( I also slapped a random estimate on it cause we've always used 5 and 8 )

[2018-11-16 00:33] Incrested commented on #77
Added in fc4ad52. No verified testing available: planned maintenance added.

[2018-11-20 21:10] Incrested commented on #78
Bump; @ultra03, you want me to start working on it or?

[2018-11-27 22:05] Ultra03 commented on #78
@Incrested We need a database and a database interfacing system first.

[2018-11-27 22:12] Ultra03 commented on #69
Fixed in a5757cb.

[2018-11-27 22:12] #69 closed

[2018-11-27 22:34] Incrested commented on #78
I'm aware: that would be part of this. You reckon it's a good idea to do up as a whole or not is what I meant and/or make it an API with other bots with restrictions so it's not a god awful broken system.

[2018-12-06 15:33] Incrested commented on #77
Gonna be fixing this one after school; I'll schedule maintenance

[2018-12-11 21:20] Ultra03 commented on #7
@Incrested We wouldn't necessarily need that. We can just log to a channel on certain commands and if the channel doesn't exist, don't log. Unless you'd rather do it that way, I'm fine with that too.

[2018-12-11 23:05] Ultra03 commented on #7
I was thinking I’d start working on Enmap soon anyways, so we’ll go with custom control.

[2018-12-11 23:06] Incrested commented on #7
Alright: that'll be what I start to evaluate on this with

[2018-12-13 15:36] Incrested commented on #7
I'm gonna start workin' on this today

[2018-12-13 15:37] Incrested opened #80 "Track Used Invites"
It would be cool if we could track used invites so that server owners know which invite someone came in through (in the scenario of server griefing or spam botting: it could be useful).

[2018-12-20 20:52] Ultra03 commented on #58
Closing until further notice/development.

[2018-12-20 20:52] #58 closed

[2019-01-04 23:36] Ultra03 commented on #78
Thinking of using MongoDB instead - we can work on this once we get a VPS or something. There's an official [MongoDB driver for Node.js](https://www.npmjs.com/package/mongodb) that we can use.

[2019-01-05 04:56] doamatto commented on #78
This isn't a bad platform to use for databases/interfacing systems. I like the fact that there is an official driver for Node, which is very useful for easy integration. I believe that this should be the database tool of choice as well.

[2019-01-13 02:45] doamatto opened #84 "Note Before Moving Anything"
This board is synced to GitHub, meaning all changes here will be reflected onto GitHub. Please use this **ONLY** if you do not have access to GitHub and/or ZenHub. Both platforms are much better than this one, as this is mostly just for a "basis."

[2019-01-13 02:45] doamatto opened #85 "About Board"
**The Graphic Design To-Do list needs to stay organized.**

## If you are an employee:
you are **ONLY** allowed to use the "To-Do" list.

## If you are a Developer at Knox, then:
The following is a guide to each list:

[2019-01-13 02:47] #85 closed

[2019-01-13 02:48] #84 closed

[2019-01-14 02:46] doamatto commented on #50
We retired this command: so, I'm closing this.

[2019-01-14 02:46] #50 closed

[2019-01-19 06:39] doamatto opened #86 "Reconstruct README.md"
It's been fine for awhile: but a rework on wording, the way things are organised, and overall improving materials and moving any unnecessary stuff to [the docs](https://docs.knoxcorp.me/lavender).

[2019-01-19 06:55] doamatto commented on #86
Accidentally did it to master in 4da44bc857dc21952f065f7a519534cbb54ffbb3

[2019-01-19 06:55] #86 closed

[2019-02-05 02:16] doamatto opened #88 "Bandwidth Saving by Auto-Leaving Discord VCs"
Have Lavender automatically leave a VC after a period of time of no one being in that VC and/or have Lavender automatically leave a VC after the queue is over.

Both of these will help save bandwidth which is crucial with our current hosting solutions.

[2019-02-05 15:28] doamatto opened #90 "Verify YouTube URL Integrity"
To save bandwidth, we need to ensure that a YouTube URL is actually a real one so that it can be played. Just doing `[play http` (on the develop branch) will have the bot join and do nothing.

[2019-02-05 15:31] doamatto commented on #45
SC API keys are currently closed while they search for a better way to distribute. We need to fix music in general, first. Added as a dependency #89 via ZenHub

[2019-02-05 22:20] lepon01 opened #91 "hug command needs else statement"
https://github.com/KnoxDevTeam/Lavender/blob/master/commands/hug.js#L8
needs

[code]

otherwise

![image](https://user-images.githubusercontent.com/13886925/52308077-49b4e000-2994-11e9-8b80-8f614cf12a6c.png)

[2019-02-06 16:29] Ultra03 commented on #91
Thanks for letting us know, not sure how this got missed!

[2019-02-06 21:21] doamatto commented on #91
@Ultra03, I'm going to re-do your commit in a titbit because the script wouldn't show a picture if I'm digesting it properly: it would go straight to the else statement after the "nill" snekfetch query. Like I said, I'll redo on the `develop` branch and then resolve the resolution of this issue.

[2019-02-07 15:21] doamatto commented on #91
Resolved on 7bb33c4fea63b3a17040d38ee5bd17c5678b5d54 via `master` by Lucas

[2019-02-07 15:21] #91 closed

[2019-02-07 15:24] doamatto commented on #77
There doesn't seem to be any guild count posted to DBL and Discord Bots, nor DDB. Going to look into it before Patch Day Friday

[2019-02-18 06:01] doamatto opened #92 "Reload Command Doesn't Exist?"
When running `+reload` without a command responds with the bot simply crashing (not wrong, but not right; should have warning on Discord). The main issue is that in the console it logs:
[code]
I hope the issue is obvious in the sense of `undefined.js` not being `reload.js`

[2019-02-18 06:04] doamatto commented on #66
#75 is closed so I'm closing this as well.

[2019-02-18 06:04] #66 closed

[2019-02-18 06:08] doamatto opened #93 "Rock Paper Scissors vs. Lavender"
Seperate issue for #29 that goes more in depth and actually references development.

**Lead Dev:** Matt (@doamatto)

Plan:
1) `Do +rps`
2) `Lavender responds with asking you for what you play: rock, paper, or scissors? A multitude of versions of r, p, s, rock, paper, scissors, and their randomly capitalised counterparts will be accepted.`
3) `Lavender randomly selects 1 of the 3 options and report

[2019-02-18 06:11] doamatto opened #94 "Tic-Tac-Toe vs. Lavender"
Seperate issue for #29 that goes more in depth and actually references development.

**Lead Dev:** [Name]\([@name])

Plan:
1) `Do +ttt`
2) `Lavender responds with the Tic-Tac-Toe grid with emoticons of each section numbered 1-9. You react with that number from the list of pre-reacted emotes`
3) `That number is removed from an array in which Lavender randomly chooses from and both numbers are repla

[2019-02-18 06:11] doamatto commented on #29
Games Being Added So Far:
- Player vs. Computer ~ Rock Paper Scissors (#93)
- Player vs. Player ~ Tic-Tac-Toe (#94)

[2019-03-08 00:21] doamatto commented on #93
Working on it right now

[2019-03-09 15:43] doamatto commented on #94
Added in 5113c4b

[2019-03-09 15:43] doamatto commented on #93
Added in 5113c4b

[2019-03-09 15:43] #93 closed

[2019-03-09 15:49] doamatto opened #95 "Accidentally Spawned a Demon (Invalid Collector?)"
![image](https://user-images.githubusercontent.com/30969346/54073764-c65f0680-423f-11e9-8d69-ab3c1d2dedf1.png)
The picture really says it all. Good thing it's kept inside the developer realm

[2019-03-09 16:04] doamatto opened #96 "Node Security Error from Codacy"
Just did a test on Codacy with a lot of work finished and in the logs it mentioned the following security error log:
[code]

Part of me thinks it could just be the way we have our Docker env setup in the config file, but let's swiftly ensure this gets fixed.

[2019-03-09 16:10] doamatto commented on #96
This isn't unique to the `develop` branch: according to Codacy, it is also found on the `master` branch.

[2019-03-09 16:23] doamatto commented on #96
Just sent an email to the Codacy team: looks like everything is fine on our end according to @Ultra03.

[2019-03-09 16:23] #96 closed

[2019-03-11 02:01] doamatto opened #97 "Hugging No One Results in a Double Hug"
![](https://i.imgur.com/f66o8Iq.jpg)

[2019-03-11 02:02] doamatto opened #98 "Others can Reload + Get a Reload Error"
![](https://i.imgur.com/YAvRJtT.jpg)

[2019-03-11 02:03] doamatto opened #99 "8Ball Can Be Called without a Question"
![](https://i.imgur.com/y8jyxJ0.jpg)

[2019-03-11 02:13] doamatto commented on #97
Added in 7fa2766

[2019-03-11 02:13] #97 closed

[2019-03-11 02:15] doamatto commented on #98
Added in 28e7551

[2019-03-11 02:15] #98 closed

[2019-03-11 02:36] doamatto commented on #95
Tried to fix in a85d5a7

[2019-03-11 02:39] doamatto opened #100 "Snekfetch Causes Warnings Due to "Permissions""
This happens everytime the bot synces to Discord API servers for server count and user count.

[code]

[2019-03-11 02:40] doamatto opened #101 "Use New Divine Discord Bot List API"
Divine Discord Bot List recently made an NPM package for their API. Let's use it instead of Snekfetch

[2019-03-11 02:40] doamatto commented on #77
#101 is important here

[2019-03-11 02:42] doamatto commented on #90
We can use YouTube's API for this one. [Docs are here](https://developers.google.com/youtube/v3/getting-started)

[2019-03-11 03:03] doamatto opened #102 "Change YouTube URL Detection to RegExp"
Change the current detection method from strings to RegExp

[2019-03-11 03:09] doamatto commented on #99
Added in 7909de742b77941851d01f0ddb3ff351604eeba6 and revised in e9c806b

[2019-03-11 03:09] #99 closed

[2019-03-11 03:15] doamatto opened #103 "Update Site Statistics using Custom API"
This would be cool to have a daily updated server statistic on how many people use Lavender and how many server have Lavender.

[2019-03-11 03:16] doamatto commented on #78
Should we discontinue [enmap-sys](https://github.com/KnoxDevTeam/Lavender/tree/enmap-sys) as we plan to use MongoDB in the near future? (@KnoxDevTeam/developers)

[2019-03-11 03:23] doamatto commented on #101
Added in d5e3e53. Reopen if it doesn't work in stable.

[2019-03-11 03:23] #101 closed

[2019-03-11 03:23] doamatto commented on #77
These are all added.

[2019-03-11 03:23] #77 closed

[2019-03-11 03:27] doamatto commented on #92
Fixing it right now

[2019-03-11 03:28] doamatto commented on #92
Added in 28e7551157fe84ce7828adcf21ee713cfc74c8a5

[2019-03-11 03:28] #92 closed

[2019-03-11 03:30] doamatto commented on #68
Revising the comment I made last year: the main premise is to reconstruct `./commands/crypto.js` to use an API to gather the abbreviation, full name, crypto logo, and price of a crypto and display it in an embed message for the viewer to see. It would be easier for digestion and would remove the redundancy in the code in our switch cases, converting it all into one simple function

[2019-03-11 04:18] doamatto commented on #95
This now crashes the bot with auto restarting not working. Bumped up severity of this.

[2019-03-11 14:28] doamatto commented on #88
Another way to save bandwidth is to limit video lengths to under 30 minutes. We can make a Patreon-supported function for longer videos.

[2019-03-11 14:28] doamatto commented on #29
#94 was Added Yesterday

[2019-03-11 17:28] Ultra03 commented on #88
Sounds like a good idea, I’ll work on this sometime this week.

[2019-03-12 01:31] doamatto opened #104 "Return Statements for Ban Needed."
![image](https://user-images.githubusercontent.com/30969346/54168479-ece19500-442b-11e9-881f-b99624406fb8.png)

[2019-03-12 13:46] doamatto commented on #104
Fixed in a7dfb32

[2019-03-12 13:46] #104 closed

[2019-03-12 13:53] doamatto opened #105 "Make Command Categories and Hold Details on Commands in Their Files"
Step one is to simply make folders that are searched by the bot for commands based on their type such as: `fun`, `moderation`, `utilities`, `economy`, etc.

Step two is to take those command files and add details, such as,
[code]

[2019-03-12 14:21] doamatto commented on #10
Fixed Labels since we removed this. Guess we *should* work on re-adding

[2019-03-12 18:07] doamatto opened #106 "Warn, Infractions, and Report Set"
**Category:** Moderation
**Commands:** `[warn {user} {reason}`, `[infractions {users}`, `[report {user} {reason}`

The warn command can be used by users that are moderators. The infractions command can be controlled to be used by anyone or just mods. The report command can be used by anyone to help moderators find troublemakers

[2019-03-12 18:11] doamatto opened #107 "Add Official MongoDB Database"
Using a different dyno, host the official database for Lavender and Lavender Beta to connect to, allowing cross-server connections, and to prevent blocking of all DB-related issues

[2019-03-12 18:12] doamatto commented on #107
This issue makes a lot more sense if you have ZenHub installed.

[2019-03-12 21:31] doamatto opened #108 "Fix Documentation Link"
![](https://i.imgur.com/gY60GHm.jpg)

[2019-03-12 21:55] doamatto opened #109 "Round the Ping"
![](https://i.imgur.com/tywtMOf.jpg)

We should round that long number

[2019-03-13 01:05] doamatto commented on #108
Fixed in bf64162 and fixed related in 84d19fb

[2019-03-13 01:05] #108 closed

[2019-03-13 01:06] doamatto commented on #109
Added in bb2c991

[2019-03-13 01:06] #109 closed

[2019-03-13 23:46] doamatto opened #110 "Image Doesn't Show on PFP"
![](https://i.imgur.com/c6Rv5ni.jpg)

[2019-03-14 13:11] doamatto commented on #110
Seemed to have been a random occurrence

[2019-03-14 13:11] #110 closed

[2019-03-14 14:16] doamatto opened #111 "Missing NPM Shrinkwrap for Codacy"
Codacy now needs a `npm-shrinkwrap.json` file. Let's get this generated and make sure their support rep. doesn't have to wait long for response. [Read up](https://support.codacy.com/hc/en-us/articles/115002492425-NodeSecurity-Dependencies-Inspection)

[2019-03-20 02:17] #111 closed

[2019-03-22 19:40] doamatto commented on #111
Resolved the issue in general; Closed the Ticket with Codacy

[2019-05-07 00:37] Ultra03 commented on #88
That's funny.

Anyways, experimental fix in 6788ddf. @doamatto can you test this?

[2019-05-07 21:02] Ultra03 commented on #45
Closing as it doesn't look like they're changing this any time soon...

[2019-05-07 21:02] #45 closed

[2019-05-07 21:07] Ultra03 commented on #103
Closing for now as we need a dynamic website (i.e. not GH Pages) in order to do this.

[2019-05-07 21:07] #103 closed

[2019-05-07 21:09] Ultra03 commented on #80
We'd likely want per-server settings before we add this.

[2019-05-09 04:49] doamatto opened #112 "Not Giving a Number for a Purge Crashes the Bot"
This is currently on stable; it needs to be patched

[2019-05-09 05:09] doamatto opened #113 "New Bandwidth Saving Technique Doesn't Work"
[code]

Soft crash at this part; @Ultra03 fault, ironically

[2019-05-09 23:11] Ultra03 commented on #112
![](https://gyazo.com/3f8659c37379bcb93cffa37f3741a472)
It doesn't...?

[2019-05-09 23:12] #112 closed

[2019-05-09 23:13] doamatto commented on #112
Hm, weird

[2019-05-09 23:43] #113 closed

[2019-05-09 23:45] Ultra03 commented on #88
Fully working as of 2f954d6.

[2019-05-09 23:45] #88 closed

[2019-05-10 04:07] doamatto opened #114 "Search YouTube for Videos if a YouTube URL isn't given"
If the user gives you a search query, take the first result or let them choose from top 5 on which to play. The normal play via URL will still exist.

[2019-05-10 04:08] doamatto commented on #90
I just found out how to do this. Doing so now.

[2019-05-10 04:09] doamatto commented on #90
Not needed for #114

[2019-05-10 04:09] #90 closed